.card-review {
    width: 800px;
    margin: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.pending {
    background-color: gold;
}
.accept {
    background-color: rgb(77, 252, 42);
}
.reject {
    background-color: rgb(255, 89, 98);
}

.header-review {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.field-review {
    padding-bottom: 15px;
}

.content-header {
    font-weight: bold;
    color: rgb(145, 145, 145);
}

.content-container {
    padding: 25px;
    background-color: rgb(252, 252, 208);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}